@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --gray: #828282;
  --dark-gray: #404A58;
  --orange: #e76924;
  --light-blue: #24a9e7;
  --yellow: #ffc40c;
}

.navLink {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.navLink:hover {
  color: var(--white);
  font-weight: 500;
  transition: 500ms;
}

.navLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--orange);
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.navLink:hover::before {
  left: 0;
}